﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="Default.aspx.vb" Inherits="Chapter11_3._Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Bank Charges</title>
</head>
<body>
    <form id="form1" runat="server">
    <div style="height: 43px">
    
        <h1>Bank Charges</h1>
        <p>
            &nbsp;</p>
    
        <p>
            &nbsp;</p>
    
    </div>
        <p>
            <asp:Label ID="Label1" runat="server" Text="Checks Written:"></asp:Label>
            <asp:TextBox ID="TextBox1" runat="server" Width="76px"></asp:TextBox>
        </p>
        <p>
            <asp:Label ID="Label2" runat="server" Text="This Month's Fees: "></asp:Label>
            <asp:Label ID="Label3" runat="server" Text=""></asp:Label>
        </p>
        <p>
        <asp:Button ID="Button1" runat="server" Text="Calculate" />
        <asp:Button ID="Button2" runat="server" Text="Clear" />
        </p>
    </form>
</body>
</html>
